<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Mi Primer maquetaHTML</title>
</head>
<body>
    <h4>SOY UN h4</h4>

    <H1> h1 Hoy se pesca en san blas</H1>
   

    <h2>sub titulo se pesco un PEZ palo</h2>
    <img class="efrain" src="/imagen/Efrain-pesacador.jpg" alt="" width="300px">
    <strong>otro texto en negrilla, con la etiqueta strong podemos resaltar determinadas partes del parrafo
        esta muybueno la funcionabilidad y es elemento de linea como las imagenes.
    </strong>

    <p>holaa soy un parrafo: quiero contarle unos<strong>esto es un texto en negrilla</strong> dos tres y va asi jajajajaj</p>
    <P class="parrafo-destacado">soy otro parrafo lkdmskmdkskdslksdmk jdkskndlsk 
        sdislskmclsdmlsmldmslmdlsmlmslm
        dmdmdmdmdmds
    </P>
    <ol>
        <li> se pesca : corvina</li>
        <li>se pesca : pes palo</li>
        <li>se pesca : gatuso</li>
    </ol>
    <ul>
        <li>hola</li>
        <li>adios</li>
        <li>hasta luego</li>
    </ul>
    <p>a continuacion les dejo mi facebook personal:</p>
    <a href="www.facebook.com"> Ir a Facebook</a>

</body>
</html>