body{
    background-color: salmon;
    font-family: 'Lato', sans-serif;
}
h1{
    font-size: 50px;
    font-weight: 300;
}
h2{
    font-size: 20px;
    
}
p strong{
    background-color: red;
    color: black;
    font-family: initial;
}

strong{
    color:green;
}
p{
    font-size: 17px;
    line-height: 24px;
}
.parrafo-destacado{
    color: aqua;
    font-size: 30px;
    line-height: 38px;
}